# Node modules
node_modules

# Build output
dist

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
